


.tri-layout-container { grid-template-columns: 0fr 4fr 0fr !important;}
.tri-layout-left { display: none;}
.tri-layout-right { display: none;}
#header {display:none !important;}
.list-sort-container {display:none !important;} 
